/* libre-franklin-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/libre-franklin-v19-latin-300.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/libre-franklin-v19-latin-300.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* libre-franklin-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/libre-franklin-v19-latin-600.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/libre-franklin-v19-latin-600.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* libre-franklin-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Libre Franklin";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/libre-franklin-v19-latin-700.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("./assets/fonts/libre-franklin-v19-latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
:root {
    --clr-red-300: hsl(354, 100%, 66%);
    --clr-red-500: hsl(354, 100%, 48%);

    --clr-gray-300: hsl(0, 0%, 59%);

    --clr-blue-300: hsl(223, 100%, 88%);
    --clr-blue-500: hsl(223, 87%, 63%);
    --clr-blue-900: hsl(209, 33%, 12%);
    --clr-white: hsl(0, 0%, 100%);

    --font-main: "Libre Franklin", system-ui, sans-serif;
    --font-thin: 300;
    --font-semibold: 600;
    --font-bold: 700;

    --text-xxsm: 0.625rem;
    --text-xsm: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-md: 1.125rem;
    --text-md-2: 1.25rem;
    --text-md-3: 1.375rem;
    --text-lg: 2rem;
    --text-lg-2: 2.5rem;
    --text-xl: 3rem;

    --leading-none: 1;

    --rounded-full: 9999px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
img,
svg {
    display: block;
    max-width: 100%;
}
button,
input {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
body {
    line-height: var(--leading-none);
    -webkit-font-smoothing: antialiased;
    padding: 0 1.75rem;
    background-color: var(--clr-white);
}
.sr-only {
    position: absolute;
    width: 0.1rem;
    height: 0.1rem;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.layout {
    width: min(100%, 40rem);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header__container {
    padding-top: 5.375rem;
    padding-bottom: clamp(2.5625rem, 1.8469rem + 3.0534vw, 3.3125rem);
}

.header__logo {
    height: clamp(1rem, 0.4036rem + 2.5445vw, 1.625rem);
}
.main__container {
    font-family: var(--font-main);
    font-weight: var(--font-thin);
    font-size: var(--text-xsm);
    padding-bottom: 4.5rem;
}
.main__image {
    margin-left: 0.0625rem;
}
.main__headline {
    font-weight: var(--font-thin);
    color: var(--clr-gray-300);
    font-size: clamp(1.375rem, -0.1756rem + 6.6158vw, 3rem);
    letter-spacing: 0.01em;
    margin-bottom: clamp(1.375rem, 1.2557rem + 0.5089vw, 1.5rem);
}
.main__description {
    font-weight: var(--font-thin);
    font-size: clamp(0.75rem, 0.2729rem + 2.0356vw, 1.25rem);
    margin-bottom: clamp(2.0625rem, 1.5258rem + 2.2901vw, 2.625rem);
    color: var(--clr-blue-900);
}
.main__headline--bold {
    color: var(--clr-blue-900);
    margin-bottom: 1.875rem;
}
.text-field {
    position: relative;
}
.text-field__input {
    color: var(--clr-blue-900);
    height: clamp(2.5rem, 1.5458rem + 4.0712vw, 3.5rem);
    padding-inline: 2rem;
    border-radius: var(--rounded-full);
    background-color: transparent;
    border: 1px solid var(--clr-blue-300);
    width: 100%;
    letter-spacing: 0.01em;
    transition: border-color 150ms ease;
}
.text-field__hint {
    display: none;
    text-align: center;
    font-style: italic;
    color: var(--clr-red-500);
    margin-top: 0.5rem;
    font-size: clamp(0.75rem, 0.6307rem + 0.5089vw, 0.875rem);
}
.text-field__input[aria-invalid="true"] {
    border-color: var(--clr-red-300);
}
.text-field__input[aria-invalid="true"] + .text-field__hint {
    display: block;
}
.text-field__input::placeholder {
    color: var(--clr-blue-300);
}
.text-field__input:focus {
    border-color: var(--clr-blue-500);
}
.subscribe__form {
    width: 100%;
    padding: 0 1.1875rem;
    margin-bottom: clamp(4.25rem, 3.1765rem + 4.5802vw, 5.375rem);
    display: grid;
    gap: 0.625rem 1rem;
    font-size: clamp(0.75rem, 0.5115rem + 1.0178vw, 1rem);
}
.subscribe__submit-btn {
    border: none;
    background-color: transparent;
    padding: calc(1em + 0.25rem);
    width: 100%;
    cursor: pointer;
    border-radius: var(--rounded-full);
    background-color: var(--clr-blue-500);
    font-weight: var(--font-semibold);
    color: var(--clr-white);
    transition: opacity 200ms ease, transform 150ms ease;
    box-shadow: hsla(223, 87%, 63%, 0.25) 0 12px 24px -4px;
}
.subscribe__submit-btn:active {
    transform: scale(0.95);
}
.footer__container {
    padding-bottom: 3.125rem;
}
.social__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 1.75rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8125rem;
}
.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.9375rem;
    height: 1.9375rem;
    border-radius: var(--rounded-full);
    border: 1px solid var(--clr-blue-300);
    transition-property: border-color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}
.social__link svg {
    width: 0.9375rem;
    height: 0.9375rem;
}
.social__link path {
    transition: fill 200ms ease;
    fill: var(--clr-blue-500);
}
.footer__copyright {
    font-size: clamp(0.625rem, 0.5057rem + 0.5089vw, 0.75rem);
}
@supports selector(:focus-visible) {
    a:focus-visible,
    button:focus-visible,
    input:focus-visible {
        outline: 3px dashed var(--clr-blue-500);
        outline-offset: 3px;
    }
}
@media (hover: hover) {
    .text-field__input:hover {
        border-color: var(--clr-blue-500);
    }
    .subscribe__submit-btn:hover {
        opacity: 0.75;
    }
    .social__link:hover {
        background-color: var(--clr-blue-500);
        border-color: var(--clr-blue-500);
    }
    .social__link:hover path {
        fill: var(--clr-white);
    }
}
@media screen and (min-width: 48em) {
    .subscribe__form {
        padding: 0;
        grid-template-columns: auto 12.5rem;
        margin-bottom: 5.375rem;
    }
    .text-field__hint {
        position: absolute;
        top: calc(100% + 0.625rem);
        left: 1.875rem;
        margin: 0;
    }
    .text-field__input {
        padding-left: 1.8125rem;
    }
    .subscribe__submit-btn {
        flex-shrink: 0;
    }
}
